<main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>New products</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>{{product.name}}</h1>
            <p class="sub">{{product.name}}</p>
            <p class="price">{{product.price}}$</p>
          </div>
          <div class="image">
                <img src="{{product.image}}" alt="{{product.name}}">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>{{product.description}}</p>
          </div>
        
          
        </div>
      </div>
      <div class="card__footer">      
        <div class="action">
          <button type="button">Add to cart</button>
          <a href="/"><button type="button">Back to home</button></a>
        </div>
      </div>
    </div>
  </main>