<link rel="stylesheet" href="/css/style.css">
{{>header}}

<!--End: Header-->
<div class="space">
  <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_1pxqjqps.json"  background="transparent"  speed="1.5"  auto loop  autoplay></lottie-player>
</div>

<!--Product-->

<div class="container mt-5 mb-5">
  <div class="tearea">
    <h3 class="h3pos">ĐIỆN THOẠI DI ĐỘNG</h3>
    <a href="/product/" class="btn_menu">Xem tất cả</a>
  </div>
  <div class="row g-2" id="content">
    {{#each productD1}}
    <div class="container_all">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="/{{this.avatar}}">
          </div>
          <div class="contentBx">
            <h4>{{this.name}}</h4>
            <div class="size">
              <h4>{{this.price}} VND</h4>
            </div>
            <a href="/products/{{this.slug}}">Detail product</a>
            <a href="/me/add-to-cart/{{this._id}}">Add to card</a>
          </div>
        </div>
      </div>
    </div>


    {{/each}}
  </div>
</div>

<!----------------------------------------------------------------------->

<div class="container mt-5 mb-5">
  <div class="tearea">
    <h3 class="h3pos">PHỤ KIỆN</h3>
    <a href="/product/" class="btn_menu">Xem tất cả</a>
  </div>
  <div class="row g-2">
    {{#each product}}
    <div class="container_all">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="/{{this.avatar}}">
          </div>
          <div class="contentBx">
            <h4>{{this.name}}</h4>
            <div class="size">
              <h4>{{this.price}} VND</h4>
            </div>
            <a href="/products/{{this.slug}}">Detail product</a>
            <a href="/me/add-to-cart/{{this._id}}">Add to card</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>





<!--****************stars******************-->




<!--Footer-->
{{>footer}}