{{!-- link jquery --}}
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<div class="mt-4">
    <h3>Sản phẩm của tôi</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Sản Phẩm</th>
                <th scope="col">Giá </th>
                <th scope="col">Thời gian đăng tải</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/products/{{this._id}}/edit" class="btn btn-success">Sửa</a>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-product-modal">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
</table>
</div>
{{!-- Thông báo xóa sản phẩm --}}

<div id="delete-product-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Sản Phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa sản phẩm</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>        
      </div>
    </div>
  </div>
</div>

{{!-- delete hidden form --}}

<form name="delete-product-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var productID;
        var deleteForm = document.forms['delete-product-form'];
        var btnDeleteProduct = document.getElementById('btn-delete-product');

        //when dialog confirm clicked 
        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            productID = button.data('id');
            
        });  

        //when delete clicked
        btnDeleteProduct.onclick = function () {           
            deleteForm.action = '/products/' + productID + '?_method=DELETE';
            deleteForm.submit();
        } 
    });
</script>